<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
  <link href="css/all.min.css" rel="stylesheet" />
  <link href="css/templatemo-style.css" rel="stylesheet" />
  <script type="module" defer src="js/jquery.min.js"></script>
	<script type="module" defer src="js/parallax.min.js"></script>
  <script type="module" defer src="js/loading_data_from_db.js"></script>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="container">
    <%- include('../components/header.ejs'); %>
      <%- body %>
        <%- include('../components/footer.ejs'); %>
  </div>
</body>

</html>