<div id="cartModal" class="cart-modal hidden">
  <div class="cart-modal-content">
    <span class="close-btn" id="closeCartBtn">&times;</span>
    <h2>Корзина</h2>

    <div class="cart-items" id="cartItemsContainer">
    </div>

    <div class="cart-footer">
      <a id="checkoutBtn" class="checkout-btn" href="/order/">Оформить заказ</a>
    </div>
  </div>
</div>