<div id="confirmDeleteModal" class="modal-delete-dish hidden">
  <div class="modal-content-delete-dish">
    <p>Вы уверены, что хотите удалить это блюдо?</p>
    <div class="modal-buttons-delete-dish">
      <button id="confirmDeleteBtn" class="btn-delete-dish">Удалить</button>
      <button id="cancelDeleteBtn" class="btn-delete-dish-cancel">Отмена</button>
    </div>
  </div>
</div>