<div id="modal" class="modal hidden">
  <div class="modal-content">
    <span class="modal-close">&times;</span>
    <p id="modal-message"></p>
    <div id="modal-link-block" class="hidden">
      <a href="/favorites" class="modal-link">Перейти в избранное</a>
    </div>
  </div>
</div>