<div id="foodModal" class="modal-detail hidden">
  <div class="modal-detail-content">
    <span class="close-modal-detail">&times;</span>
    <div class="modal-body-flex">
      <div class="modal-image-container">
        <img id="modalImage" src="" alt="Food Image" class="img-detail" />
      </div>
      <div class="modal-info-container">
        <h2 id="modalTitle"></h2>
        <p id="modalDescription"></p>
        <p><strong>Цена:</strong> <span id="modalPrice"></span> BYN</p>
        <p><strong>Вес блюда:</strong> <span id="modalWeight"></span>г.</p>
        <table class="nutrition-table">
          <thead>
            <tr>
              <th>Калории</th>
              <th>Белки</th>
              <th>Жиры</th>
              <th>Углеводы</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="modalCalories"></td>
              <td id="modalProtein"></td>
              <td id="modalFat"></td>
              <td id="modalCarbs"></td>
            </tr>
          </tbody>
        </table>
        <div class="modal-btn-container">
          <% if (user && user.role==='admin' ) { %>
            <button id="deleteDishBtn" class="btn-add-cart-modal">Удалить</button>
            <button id="editDishBtn" class="btn-add-cart-modal">Редактировать</button>
            <% } else if (user && user.role==='user' ) { %>
              <button id="addToCartBtn" class="btn-add-cart-modal">В корзину</button>
              <% } else { %>
                <button id="addToCartBtn" class="btn-add-cart-modal">В корзину</button>
                <% } %>
                <div id="quantityControls" class="quantity-controls hidden">
                  <button id="decreaseQty" class="btn-quantity">➖</button>
                  <span id="quantityDisplay">0</span>
                  <button id="increaseQty" class="btn-quantity">➕</button>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Затемнённый фон -->
<div id="modalOverlay" class="modal-detail-overlay hidden"></div>