<main>
  <div class="tm-container-inner tm-persons">
    <div class="row-about">
      <article class="col-lg-6">
        <figure class="tm-person">
          <img src="img/about-01.jpg" alt="Image" class="img-fluid tm-person-img" />
          <figcaption class="tm-person-description">
            <h4 class="tm-person-name">Дженифер Софт</h4>
            <p class="tm-person-title">Основатель и генеральный директор</p>
            <p class="tm-person-about">Объединила страсть к гастрономии и уюту, чтобы создать место, куда хочется возвращаться.</p>
          </figcaption>
        </figure>
      </article>
      <article class="col-lg-6">
        <figure class="tm-person">
          <img src="img/about-02.jpg" alt="Image" class="img-fluid tm-person-img" />
          <figcaption class="tm-person-description">
            <h4 class="tm-person-name">Дарья Волкер</h4>
            <p class="tm-person-title">Шеф-повар</p>
            <p class="tm-person-about">Превращает простые ингредиенты в гастрономические открытия, вкладывая душу в каждое блюдо.</p>
          </figcaption>
        </figure>
      </article>
      <article class="col-lg-6">
        <figure class="tm-person">
          <img src="img/about-03.jpg" alt="Image" class="img-fluid tm-person-img" />
          <figcaption class="tm-person-description">
            <h4 class="tm-person-name">Флоренса Нельсон</h4>
            <p class="tm-person-title">Кухонный менеджер</p>
            <p class="tm-person-about">Следит за тем, чтобы каждый процесс на кухне был выверен до мелочей — от свежести продуктов до идеальной подачи.</p>
          </figcaption>
        </figure>
      </article>
      <article class="col-lg-6">
        <figure class="tm-person">
          <img src="img/about-04.jpg" alt="Image" class="img-fluid tm-person-img" />
          <figcaption class="tm-person-description">
            <h4 class="tm-person-name">Валентина Мартин</h4>
            <p class="tm-person-title">Кулинарный директор</p>
            <p class="tm-person-about">Задаёт вкусовой вектор заведения, сочетая креативность с уважением к традициям мировой кухни.</p>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>
  <div class="tm-container-inner tm-featured-image">
    <div class="row">
      <div class="col-12">
        <div class="placeholder-2">
          <div class="parallax-window-2" data-parallax="scroll" data-image-src="img/about-05.jpg"></div>		
        </div>
      </div>
    </div>
  </div>
  <div class="tm-container-inner tm-history">
    <div class="row">
      <div class="col-12">
        <div class="tm-history-inner">
          <img src="img/about-06.jpg" alt="Image" class="img-fluid tm-history-img" />
          <div class="tm-history-text"> 
            <h4 class="tm-history-title">История ресторана Nomera</h4>
            <p class="tm-mb-p">Однажды мы поняли, что настоящая еда — это не просто вкус, а воспоминание. Воспоминание о шумных семейных ужинах, о поздних встречах с друзьями, о тишине утра с чашкой кофе. Так родилась идея Nomera — ресторана, в котором каждый гость найдёт своё "номерное" блюдо, будто специально созданное для него.</p>
            <p class="tm-mb-p">В Nomera мы не просто подаём еду — мы создаём настроение. Здесь можно заблудиться во вкусе, вернуться к простым удовольствиям и почувствовать, что ты на своём месте.</p>
            <p>Добро пожаловать домой. Добро пожаловать в Nomera.</p>
          </div>
        </div>	
      </div>
    </div>
  </div>
</main>