<main>
  <div class="welcome-section-profile">
    <h2 class="col-12 text-center">Личный кабинет</h2>
  </div>
  <div class="paging-links-profile">
    <nav>
      <ul>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-admin active" data-section="list-orders">Список заказов</a>
        </li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-admin" data-section="list-courier">Список курьеров</a></li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-admin" data-section="admin-info">Личные данные</a></li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-admin" data-section="admin-new-dish">Добавить блюдо</a></li>
      </ul>
    </nav>
  </div>
  <div class="hr"></div>
  <div class="admin-content"></div>
</main>