<main>
  <div class="change-password-container">
    <h2 class="change-password-title">Изменение пароля</h2>
    <% if (errors && errors.length> 0) { %>
      <ul class="form-errors">
        <% errors.forEach((error)=> { %>
          <li class="form-error-item">
            <%= error.msg %>
          </li>
          <% }) %>
      </ul>
      <% } %>
        <form action="/auth/change-password" method="POST" class="change-password-form">
          <div class="form-group">
            <label for="oldPassword">Старый пароль</label>
            <input type="password" id="oldPassword" name="oldPassword" class="form-control"
              placeholder="Введите старый пароль" value="" />
            <% if (errors?.oldPassword) { %>
              <p class="error-message">
                <%= errors.oldPassword.msg %>
              </p>
              <% } %>
          </div>

          <div class="form-group">
            <label for="newPassword">Новый пароль</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control"
              placeholder="Введите новый пароль" />
            <% if (errors?.newPassword) { %>
              <p class="error-message">
                <%= errors.newPassword.msg %>
              </p>
              <% } %>
          </div>

          <div class="form-group">
            <label for="againPassword">Повторите новый пароль</label>
            <input type="password" id="againPassword" name="againPassword" class="form-control"
              placeholder="Повторите пароль" />
            <% if (errors?.againPassword) { %>
              <p class="error-message">
                <%= errors.againPassword.msg %>
              </p>
              <% } %>
          </div>

          <div class="form-actions">
            <a href="/profile" class="button-change-password-cancel">Отмена</a>
            <button type="submit" class="button-change-password">Сохранить</button>
          </div>
        </form>
  </div>
</main>