<main>
  <div class="welcome-section-profile">
    <h2 class="col-12 text-center">Личный кабинет</h2>
  </div>
  <div class="paging-links-profile">
    <nav>
      <ul>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-courier active" data-section="statistics">Статистика</a>
        </li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-courier" data-section="current-orders">Текущие заказы</a></li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-courier" data-section="completed-orders">Выполненые заказы</a></li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-courier" data-section="canceled-orders">Отмененые заказы</a></li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-courier" data-section="courier-info">Личные данные</a></li>
      </ul>
    </nav>
  </div>
  <div class="hr"></div>
  <div class="courier-content"></div>
</main>