<main>
  <div class="row tm-welcome-section">
    <h2 class="col-12 text-center tm-section-title">Вход</h2>
  </div>
  <div class="tm-container-inner-2 tm-login-section">
    <div class="block-login">
      <form action="/auth/login" method="POST" class="tm-contact-form login-form">
        <div class="form-group empty-margin">
          <input type="email" name="email" class="form-control" placeholder="Email" value="<%= email %>" />
          <% if (errors.email) { %>
            <div class="error"><%= errors.email.msg %></div>
          <% } %>
        </div>
        <div class="form-group empty-margin">
          <input type="password" name="password" class="form-control" placeholder="Пароль" />
          <% if (errors.password) { %>
            <div class="error"><%= errors.password.msg %></div>
          <% } %>
        </div>
        <div class="form-group empty-margin group-flex">
          <button type="submit" class="tm-btn tm-btn-success">
            Войти
          </button>
          <p class="tm-mb-p">У вас нет учетной записи? <a href="/auth/register">Зарегистрируйтесь</a></p>
        </div>
      </form>
    </div>
  </div>
</main>