<div class="thank-you-container">
  <h2>Спасибо за заказ!</h2>
  <p>Статус заказа Вы можете просматривать в своем личном кабинете</p>
  <a href="/" class="back-home-btn">Вернуться на главную</a>
</div>