<main>
  <div class="welcome-section-profile">
    <h2 class="col-12 text-center">Личный кабинет</h2>
  </div>
  <div class="paging-links-profile">
    <nav>
      <ul>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-profile active" data-section="orders">Список заказов</a>
        </li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-profile" data-section="info">Личные данные</a></li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-profile" data-section="addresses">Адреса доставок</a></li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-profile" data-section="cards">Платежные карты</a></li>
        <li class="tm-paging-item"><a href="#" class="tm-paging-link-profile" data-section="favorites">Избранные блюда</a></li>
      </ul>
    </nav>
  </div>
  <div class="hr"></div>
  <div class="profile-content"></div>
</main>