<main>
  <div class="welcome-section-profile">
    <h2 class="col-12 text-center">Личный кабинет</h2>
  </div>
  <div class="paging-links-profile">
    <nav>
      <ul>
        <li class="tm-paging-item"><a href="" class="tm-paging-link active">
            Список заказов
          </a></li>
        <li class="tm-paging-item"><a href="" class="tm-paging-link">
            Личные данные
          </a></li>
        <li class="tm-paging-item"><a href="" class="tm-paging-link">
            Адреса доставок
          </a></li>
        <li class="tm-paging-item"><a href="" class="tm-paging-link">
            Платежные карты
          </a></li>
          <li class="tm-paging-item"><a href="" class="tm-paging-link">
            Избранные блюда
          </a></li>
      </ul>
    </nav>
  </div>
  <div class="hr"></div>
</main>